.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



* {
      box-sizing: border-box;
    }
    html, body {
      height: 100%;
    }
    /* body {
      color: #222;
      font-family: "Helvetica Neue", sans-serif;
      font-weight: 200;
      margin: 0 50px;
    } */
    .react-draggable, .cursor {
      cursor: move;
    }
    .no-cursor {
      cursor: auto;
    }
    .cursor-y {
      cursor: ns-resize;
    }
    .cursor-x {
      cursor: ew-resize;
    }
    .react-draggable strong {
      background: #ddd;
      border: 1px solid #999;
      border-radius: 3px;
      display: block;
      margin-bottom: 10px;
      padding: 3px 5px;
      text-align: center;
    }
    .box {
      background: #fff;
      border: 10px solid #999;
      border-radius: 3px;
      width: auto;
      height: auto;
      margin: 10px;
      padding: 10px;
      float: left;
    }

    .react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  border: 5px solid black;
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}